.ttl{
  text-align:right;
  margin:10px;
  display:flex;
}


.main__ttl{
  font-size:24px;
  margin-left:20px;
  
  margin-top:50px;
}

.sub__tag{
  font-size:16px;
  display:flex;
  margin:40px 20px auto auto;
  justify-content:flex-end;
  text-align:right;  
}

.sub__tag__ho-mu{
  display:inline-block;
  margin :10px 10px 10px 10px;
}

.sub__tag__jigyou{
  display:inline-block;
  margin :10px 10px 10px 10px;
}
.sub__tag__saiyou{
  display:inline-block;
  margin :10px 10px 10px 10px;
}
.sub__tag__otoi{
  display:inline-block;
  margin :10px 10px 10px 10px;
}

.practice2__img img{
  
  margin: 100px  0px;
  height:500px;
  float:right;
  z-index: 10;
  background-size:50%;

}

.subttl{
  font-size:100px;
  margin :300px auto auto 0px;
  font-weight:lighter;
}

.practice2__color{
  background-color:blue;
  width:1000px;
  height:250px;
  z-index: 5;
  
}
